*{
  padding: 0;
  margin: 0;
}

.main{
  display: flex;
  width: 100%;
  text-align: justify;
  justify-content: center;
}

.main .nombre{
  width: 10%;
}

.main .apellido{
  display: flex;
  align-items: start;
  justify-content: start;
  width: 10%;
}
