.header-component{
    display: flex;
    position: fixed;
    flex-direction: row;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: #242145;
}

.header-component ul button{
    background:transparent;
    text-decoration: none;
    border: 0px;
}

.header-component ul button li a{
    color: aliceblue;
    text-decoration: none;
}

.header-component .inner-header-component{
    margin-left: 296px;
}
.header-component .inner-header-component-2{
    display: flex;
    margin-left: 100px;
}

.header-component div ul{
    display: flex;
    list-style: none;
    column-gap: 50px;
}