.header-style{
position: fixed;
background-color: #2421459b;
}

.header-style div:nth-child(1) ul li:nth-child(1){
    position: absolute;    
    margin-right: 300px;
    margin-left: 300px;
    left: 0;
}
.header-style div:nth-child(1) ul li img{
    width: 20px;
    height: 20px;
}
.header-style div:nth-child(1) ul{
    display: flex;
    flex-direction: row;
    column-gap: 100px;
    justify-content: right;
    list-style: none;
    margin-right: 300px;
    margin-left: 300px;
    padding-top: 25px;
    padding-bottom: 25px;
}   

.header-style div:nth-child(2){
    border-top: 1px solid #393B6B;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    justify-content: center;
    margin-right: 300px;
    margin-left: 300px;
    column-gap: 10px;
}

.header-style div:nth-child(2) input{
    padding: 25px 500px;
    background-color: transparent;
    border: none;
    font-size: 25px;
    color: #fff;
    outline: none;
    position: relative;
    text-indent: 20px;
    display: flex;
    
}
.header-style div:nth-child(2) img{
    display: flex;
    margin-top: 30px;
    width: 20px;
    height: 20px;
    margin-left: 30px;
}
.header-style div:nth-child(2) input::placeholder{
    color: #fff;
    font-size: 25px;
    position: absolute;
    left: 0;
}
