
/* MenuHamburguesa.css */
.menu-container-movil {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    /*background: red;*/
}

.menu-container img {
    width: 10rem;
}

.menu-hamburguesa {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    border: none;
    padding: 0;
    margin: 0;
}

.menu-hamburguesa .bar {
    width: 30px;
    height: 3px;
    background-color: #eee7e7;
}

  .menu-hamburguesa.open .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  
  .menu-hamburguesa.open .bar:nth-child(2) {
    opacity: 0;
  }
  
  .menu-hamburguesa.open .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }


  .menu-items {
    position: absolute;
    top: 60px; /* Ajusta la posición del menú desplegable según tu diseño */
    left: 0;
    width: 100%;
    height: fit-content;
    background: #262626;
    display: flex;
    flex-direction: column;
  }
  
  .menu-container-movil .menu-items .menu {
    padding: 1rem 2.5rem;
    
  }
  
  
    .menu-container-movil .menu-items .menu {
      padding: 1rem 2.5rem;
      
    }
    
    .menu-items nav ul {
      list-style: none;
      width: 100%;
    }
    .menu-items nav ul li {
      padding-top: 0.7rem;
      font-family: "Work Sans", sans-serif;
      color: #dcdfef;
      cursor: pointer;
    }

  .menu-items p {
      margin: 0;
      padding: 8px;
      cursor: pointer;
      /*border-bottom: 1px solid #ccc;*/
  }

.botones {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 1rem;
  align-items: baseline;
  padding-bottom: 1rem;
}

.botones button {
  background: #c9cddf;
  border: none;
  padding: 0.5rem;
  border-radius: 13px;
  color: #5e5b5b;
  cursor: pointer;
}

.botones button:hover {
  color: rgb(0, 0, 0);
}
